# Domain configuration
DOMAIN=your_domain

# RTIMP Server Configuration
RTMP_PORT=1935

# Streaming Configuration
RTMP_URL=rtmp://rtmp-server:1935/live
TARGET_URL=http://your_domain/live/stream 
RESOLUTION=1280x720
FPS=30
VIDEO_BITRATE=2500k
AUDIO_BITRATE=128k
DISPLAY=:99
TARGET_VNC_PORT=6080
TARGET_VNC_PATH=/vnc.html?autoconnect=true&view_only=true

# Internal App Configuration
INTERNAL_APP_PORT=5173
INTERNAL_APP_HOST=0.0.0.0

# Agent Configuration
DISPLAY_NUM=1
AGENT_PORT=8000
AGENT_HOST=0.0.0.0
HEIGHT=768
WIDTH=1024

# Anthropic API Key
ANTHROPIC_API_KEY=your_api_key